<!DOCTYPE html>
<html>
<head></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function () {
    $('#create-btn').click(function (e) {
        e.preventDefault();
        text = document.getElementById('create_box').value;  
        $.post('/security_index_create', {'text' : text}, function(data) {
            console.log(data);
            document.getElementById("output").textContent = JSON.stringify(data, undefined, 2);
        });
    });
});

$(document).ready(function () {
    $('#read-btn').click(function (e) {
        e.preventDefault();
        text = document.getElementById('read_box').value;  
        $.post('/security_index_read', {'text' : text}, function(data) {
            console.log(data);
            document.getElementById("output").textContent = JSON.stringify(data, undefined, 2);
        });
    });
});


$(document).ready(function () {
    $('#update-btn').click(function (e) {
        e.preventDefault();
        field = document.getElementById('field_box').value;  
        update = document.getElementById('update_box').value;  
        company = document.getElementById('company_box').value;  
        $.post('/security_index_update', {'field' : field, 'update' : update, 'company' : company}, function(data) {
            console.log(data);
            document.getElementById("output").textContent = JSON.stringify(data, undefined, 2);
        });
    });
});



$(document).ready(function () {
    $('#delete-btn').click(function (e) {
        e.preventDefault();
        text = document.getElementById('delete_box').value;  
        $.post('/security_index_delete', {'text' : text}, function(data) {
            console.log(data);
            document.getElementById("output").textContent = JSON.stringify(data, undefined, 2);
        });
    });
});

// $(document).ready(function () {
//     $('#adv-btn').click(function (e) {
//         e.preventDefault(); 
//         $.post('/apartment_adv', function(data) {
//             console.log(data);
//             document.getElementById("output").textContent = JSON.stringify(data, undefined, 2);
//         });
//     });
// });

</script>
</head>



<body>

<h1>Security_Index</h1>

<div>
  <p>Create:</p><br>
  <input type="text" id="create_box"><br>
  <button id="create-btn" type="submit">Create Entry</button><br>
  <p>Read:</p><br>
  <input type="text" id="read_box"><br>
  <button id="read-btn" type="submit">Search Street</button><br>
  <p>Update:</p><br>
  <input type="text" id="field_box"><br>
  <input type="text" id="update_box"><br>
  <input type="text" id="company_box"><br>
  <button id="update-btn" type="submit">Update</button><br>
  <p>Delete:</p><br>
  <input type="text" id="delete_box"><br>
  <button id="delete-btn" type="submit">Delete Street</button><br>
</div> 
<!-- <br>
<button id="adv-btn" type="submit">Streets with certain indices</button><br> -->
<br>
<pre id = "output"></pre>
</body>
</html>